<div class="py-10">
    <h1 class="text-4xl my-5 font-extrabold text-center">Better<span class="font-normal text-blue-500">Service</span></h1>
    <h2 class="text-center text-2xl font-extrabold">{{pagina}}</h2>
</div>
<div class="bg-white shadow py-8 px-4 rounded-lg max-w-md mx-auto">
    {{#if error}}
        <p class="bg-red-500 py-2 px-5 rounded-lg w-full font-bold text-center text-white uppercase">{{mensaje}}</p>
    {{else}}
        <p class="bg-green-500 py-2 px-5 rounded-lg w-full font-bold text-center text-white uppercase">{{mensaje}}</p>
        <a href="/auth/login" class="text-center font-bold text-sm text-slate-600 uppercase mt-10 block">Ya Puedes Iniciar Sesión</a>
    {{/if}}
</div>