<div class="py-5">
  <h1 class="text-4xl my-5 font-extrabold text-center">Better<span class="font-normal text-blue-500">Service</span></h1>
  <h2 class="text-center text-2xl font-extrabold">{{pagina}}</h2>
  <div class="mt-8 mx-auto max-w-md">
    <div class="bg-white py-8 px-4 shadow">
      <form class="space-y-5" action="/auth/signup" method="POST">
        <div>
          <label class="block text-md uppercase text-gray-600 mb-2 font-bold" for="email">Email</label>
          <input id="email" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" type="email" name="youremail" placeholder="Email" />
        </div>

        <div class="flex items-center justify-between">
          <a class="text-gray-500 text-xs" href="/auth/signup">Don't have an account? Sign Up</a>
          <a class="text-gray-500 text-xs" href="/auth/login">Do you have a account? Log In</a>
        </div>

        <input class="w-full bg-blue-500 hover:bg-blue-700 text-white font-medium py-3 cursor-pointer rounded" type="submit" value="Sign Up">

        {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>
    </div>
  </div>
</div>