<div class="py-5">
  <h1 class="text-4xl my-5 font-extrabold text-center">Better<span class="font-normal text-blue-500">Service</span></h1>
  <h2 class="text-center text-2xl font-extrabold">{{pagina}}</h2>
</div>