*{
  box-sizing: border-box;
}
main{
  height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.text-bg-king-gray{
  background-color: #5A5A66;
}

